# Creating Fake CSV to Protect the Information of The Dev Team
[youtube link for faker](https://www.youtube.com/watch?v=WxDA-t7UmPM)

In [1]:
#Install and run libraries

# %%bash
# pip install faker

from faker import Faker
import random
from datetime import datetime, timedelta
import pandas as pd

## Generate Random Data

In [2]:
# Initialise Faker to create fake data
fake = Faker()

#Create a random row length of csv file
row_length = random.randint(100,1000)

In [2]:
#Initialise fake starting date
date = fake.date_between_dates(date_start=datetime(2015,1,1), date_end=datetime(2022,12,31))

#Initialise dates list
dates = []

# #Create a list of dates
for _ in range(row_length):
    
    #Set random transaction frequency
    interval = random.randint(0,3)
    
    #Create additional fake date
    day_spend = date + timedelta(days=interval)
    
    #If fake date is greater than original date then new date is initialised
    if day_spend > date:
        date = day_spend
        
    #Write to list
    dates.append(day_spend)

In [2]:
# Initialise Description field
description = []

#Create a list of company names
for _ in range(row_length):
    
    #Create Fake Company Name within the loop bounds of the Row length
    description.append(fake.company())

In [2]:
#Initialise transactions
transaction = []

#Create a list of random numbers as transactions
for _ in range(row_length):
    
    #Create a list of transaction between -2000 and 200 and add it to the transaction list
    x = random.randint(-2000,2000)
    transaction.append(x)

In [2]:
#Create a pandas DataFrame to contain the values
df = pd.DataFrame(list(zip(dates, description, transaction)),
               columns =['Date', 'Description', 'Transaction'])

# Display the pandas DataFrame
df

           Date               Description  Transaction
0    2016-12-07              Vang-Barnett        -1543
1    2016-12-09    Holmes, West and Payne         -248
2    2016-12-10           Lawson and Sons           72
3    2016-12-13           Gilbert-Walters         1513
4    2016-12-13                Prince LLC         1607
..          ...                       ...          ...
265  2018-01-02              Duncan-Mason         -889
266  2018-01-03  Gonzalez, Murphy and Cox           26
267  2018-01-05                 Hill-Webb            6
268  2018-01-08              Horne-Monroe          656
269  2018-01-08     Hobbs, Evans and Ross        -1492

[270 rows x 3 columns]

### Print the Data to basic CSV Format with Error Prone Data

In [3]:
# #Print DataFrame to CSV and skip index
# df.to_csv('Test_1.csv', index=False)

### Faker Testing

In [4]:
# # Faker Data Types for banking csv generator test
# for _ in range(5):    
#     print(fake.bs())
#     print(fake.catch_phrase())
#     print(fake.company())
#     print(fake.job())
#     print(fake.email())
#     print("\n")