In [25]:
# #Creating Fake data
# # https://www.youtube.com/watch?v=WxDA-t7UmPM

# %%bash
# pip install faker

from faker import Faker
import random

In [26]:
# Initialise Faker 
fake = Faker()

# # Faker Data Types for banking csv generator test
# for _ in range(5):    
#     print(fake.bs())
#     print(fake.catch_phrase())
#     print(fake.company())
#     print(fake.job())
#     print(fake.email())
#     print("\n")

In [46]:
row_length = random.randint(100,1000)

values = [random.randint]

for _ in range(row_length):
    _ =+ (random.uniform(-2000, 2000))

-1687.6014491131523

In [ ]:
#Dictionary of lists format for CSV
ING = {
        "Date" :[],
        "Description" : [],
        "Credit" : [],
        "Debit" : [],
}

ANZ = [
    [],
    [],
    []
]
    
    
ST_GEORGE = {}

row = { Date, Description, Credit, Debit}

ING = {Date,Description,Credit,Debit,Balance
30/06/2022,TRANSPORTFORNSW TAP - Visa Purchase - Receipt 127547In SYDNEY Date 28 Jun 2022 Card 462263xxxxxx8978,,-10.30,1190.18
29/06/2022,"Salary - Salary Deposit - Receipt 120837MR5L INVESTMENTS 01012025/202152 ",106.85,,1200.48
29/06/2022,TRANSPORTFORNSW TAP - Visa Purchase - Receipt 140582In SYDNEY Date 27 Jun 2022 Card 462263xxxxxx8978,,-3.18,893.63
28/06/2022,TRANSPORTFORNSW TAP - Visa Purchase - Receipt 186352In SYDNEY Date 26 Jun 2022 Card 462263xxxxxx8978,,-1.70,896.81
27/06/2022,TRANSPORTFORNSW TAP - Visa Purchase - Receipt 134000In SYDNEY Date 25 Jun 2022 Card 462263xxxxxx8978,,-2.27,898.51
27/06/2022,THAI PARAGON ENTERPR - Visa Purchase - Receipt 133999In NORTH STRATH Date 25 Jun 2022 Card 462263xxxxxx8978,,-29.35,900.78
26/06/2022,TRANSPORTFORNSW TAP - Visa Purchase - Receipt 184000In SYDNEY Date 24 Jun 2022 Card 462263xxxxxx8978,,-9.10,930.13
26/06/2022,NANDO'S CLARENCE ST 15 - Visa Purchase - Receipt 183999In Sydney Date 24 Jun 2022 Card 462263xxxxxx8978,,-19.35,939.23
26/06/2022,TRANSPORTFORNSW TAP - Visa Purchase - Receipt 183998In SYDNEY Date 23 Jun 2022 Card 462263xxxxxx8978,,-10.30,958.58
25/06/2022,McDonalds 951076 - Visa Purchase - Receipt 119499In DARLING HARB Date 23 Jun 2022 Card 462263xxxxxx8978,,-5.95,968.88
24/06/2022,TRANSPORTFORNSW TAP - Visa Purchase - Receipt 168559In SYDNEY Date 22 Jun 2022 Card 462263xxxxxx8978,,-9.10,974.83}