#### Import Libraries

In [1]:
# Import libraries and dependencies
import pandas as pd
from pathlib import Path
%matplotlib inline

#### Set Filepath

In [3]:
# Set the path
file_path_1 = Path('ANZ_Test.csv')

# Read in the CSV as a DataFrame
df = pd.read_csv(file_path_1)

#### Sort and Clean

In [4]:
#Set a header
df.columns = ["Date","Transaction","Details"]

#Change Datetime and set date as index
df.set_index(pd.to_datetime(df['Date'], infer_datetime_format=True), inplace=True)

#Drop the Date column
df.drop(columns=['Date'], inplace=True)

#Drop the Lines that contain "Transfer" within Details column
df = df[df["Details"].str.contains("TRANSFER") == False]

#Group Data by details
tes_ = df.groupby('Details')['Transaction'].sum()

#Sort ascending
tes_.sort_values(axis=0, ascending=True, inplace=False)

Details
ANZ ATM SYDNEY MET CENTRE        SYDNEY       NS                 -2850.00
VISA DEBIT PURCHASE CARD 2130 ALDI STORES -                       -832.51
VISA DEBIT PURCHASE CARD 2130 TRANSPORTFORNSW OPAL CHIPPENDALE    -780.00
EFTPOS ALDI STORES -      AU                                      -758.48
VISA DEBIT PURCHASE CARD 2130 NRMA WEB SYDNEY                     -587.94
                                                                   ...
PAYMENT FROM Ms Jade  Turtle                                        94.00
PAYMENT FROM  HENG-YI BARRY                                        200.00
PAYMENT FROM  SING-YI BARRY                                        599.76
PAYMENT FROM  H BARRY                                             4132.47
PAYMENT FROM  S BARRY                                             5611.42
Name: Transaction, Length: 199, dtype: float64

In [4]:
#Show pd.DataFrame
df.head()

            Transaction                                            Details
Date
2021-06-30         5.00  REVERSAL OF ACCOUNT SERVICING FEE MINIMUM $200...
2021-06-30        -5.00                              ACCOUNT SERVICING FEE
2021-06-29       467.00                            PAYMENT FROM ERIC H JOH
2021-06-29       466.67                            PAYMENT FROM ANNY S JOH
2021-06-29       -25.18  VISA DEBIT PURCHASE CARD 8041 MISTER GEE BURGE...

#### Print

In [5]:
# #Print to CSV
# tes_.to_csv('concat.csv')